{block content}
<div class="projects">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h1>{if $lang == 'cs'}projekty{else}projects{/if}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="projects-filter" data-category="school">{if $lang == 'cs'}školní projekty{else}school projects{/if}</span>
                <span class="projects-filter" data-category="draw">{if $lang == 'cs'}kresba{else}draw{/if}</span>
                <span class="projects-filter" data-category="photography">{if $lang == 'cs'}fotografie{else}photography{/if}</span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="gallery">
            {foreach $projects as $project}
                <?php $iter = 0 ?>
                {if $project['category'] == 'photography'}
                    {*<a n:href="Projects:project $project['id']" class="ajax">*}
                {*{else}*}

                {*{/if}*}
                <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                {foreach $project['images'] as $image}
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                <a href="{$basePath}/{$image['link']}.jpg" itemprop="contentUrl" data-size="{$image['width']}x{$image['height']}">

                <div class="gallery-img"
                    project-category="{$project['category']}"
                    project-year="{$project['year']}"
                    data-size="{$project['size']}"
                    order="{$project['order']}"
                    src="{$basePath}/{$image['link']}.jpg"
                    >
                <div class="border-img"></div>
                <img
                    class="project-active"
                    {*project-category="{$project['category']}"*}
                    {*project-year="{$project['year']}"*}
                    {*data-size="{$project['size']}"*}
                    width="100%"
                    height="100%"
                    itemprop="thumbnail"
                    alt={$project['name']}
                    title={$project['name']}
                    src="{$basePath}/{$image['link']}{if $iter == 0}_thumb{/if}.jpg"
                 >
                 </div>
                 {*<p class="text">gfdgdfhbd</p>*}
                 {*<div class="caption">*}
                    {*<div class="blur">*}
                    {*<div class="caption-text">*}
                        {*<h1>Amazing Caption</h1>*}
                        {*<p>Whatever It Is - Always Awesome</p>*}
                    {*</div>*}
                {*</div>*}

                 {*</div>*}
                 </a>
                 <figcaption itemprop="caption description"><p>{$project['description']}</p></figcaption>
                 </figure>
                 {/foreach}
                 </div>

                 {*{if $project['category'] == 'school'}*}
                     {*</a>*}
                 {*{else}*}

                 {else}
                    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    {foreach $project['images'] as $image}

                    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{$basePath}/{$image['link']}.jpg" itemprop="contentUrl" data-size="{$image['width']}x{$image['height']}">

                    <div class="gallery-img {if $iter != 0}display-none{/if}"
                        project-category="{$project['category']}"
                        project-year="{$project['year']}"
                        data-size="{$project['size']}"
                        order="{$project['order']}"
                        src="{$basePath}/{$image['link']}.jpg"
                        >
                    <div class="border-img"></div>
                    <img
                        class="project-active {if $iter != 0}display-none{/if}"
                        {*project-category="{$project['category']}"*}
                        {*project-year="{$project['year']}"*}
                        {*data-size="{$project['size']}"*}
                        width="100%"
                        height="100%"
                        itemprop="thumbnail"
                        alt={$project['name']}
                        title={$project['name']}
                        {if $iter == 0}src="{$basePath}/{$image['link']}{if $iter == 0}_thumb{/if}.jpg"{/if}
                     >
                     </div>
                     </a>
                     <figcaption itemprop="caption description"><p>{if $lang == 'cs'}{$project['description']}{else}{$project['description_en']}{/if}</p></figcaption>
                     </figure>
                     <?php $iter++ ?>
                     {/foreach}
                     </div>
                 {/if}
            {/foreach}
        </div>

        {*<div class="row cards-wrapper">*}
            {*<div class="grid">*}
                {*<figure class="effect-roxy">*}
                    {*<img src="{$basePath}/images/projects/images/projects/images/projects/1.jpg" alt="img09">*}
                    {*<figcaption>*}
                        {*<h2>Warm <span class="strong-font">Oscar</span></h2>*}
                        {*<p>Oscar is a decent man. He used to clean porches with pleasure.</p>*}
                        {*<a href="#">View more</a>*}
                    {*</figcaption>*}
                {*</figure>*}
                {*<figure class="effect-romeo">*}
                    {*<img src="{$basePath}/images/projects/images/projects/images/projects/2.jpg" alt="img10">*}
                    {*<figcaption>*}
                        {*<h2>Warm <span>Oscar</span></h2>*}
                        {*<p>Oscar is a decent man. He used to clean porches with pleasure.</p>*}
                        {*<a href="#">View more</a>*}
                    {*</figcaption>*}
                {*</figure>*}
                {*<figure class="effect-layla">*}
                    {*<img src="{$basePath}/images/projects/images/projects/images/projects/2.jpg" alt="img10">*}
                    {*<figcaption>*}
                        {*<h2>Warm <span>Oscar</span></h2>*}
                        {*<p>Oscar is a decent man. He used to clean porches with pleasure.</p>*}
                        {*<a href="#">View more</a>*}
                    {*</figcaption>*}
                {*</figure>*}
                {*<figure class="effect-milo">*}
                    {*<img src="{$basePath}/images/projects/images/projects/images/projects/2.jpg" alt="img10">*}
                    {*<figcaption>*}
                        {*<h2>Warm <span>Oscar</span></h2>*}
                        {*<p>Oscar is a decent man. He used to clean porches with pleasure.</p>*}
                        {*<a href="#">View more</a>*}
                    {*</figcaption>*}
                {*</figure>*}
            {*</div>*}
        {*</div>*}
    </div>
</div>
<script>
    calculatePositions();

    $('.sidemenu-item').on('mouseenter', function(){
        $('.gallery-img[project-year!='+ $(this).attr('data-year')+']').addClass('project-active');
    });

    $('.projects-filter').on('mouseenter', function(){
        if(selected_category == $(this).attr('data-category')){

        } else {
            $('.gallery-img').removeClass('project-inactive');
            $('.gallery-img[project-category!='+$(this).attr('data-category')+']').addClass('project-inactive');
        }

    });


    $('.projects-filter').on('mouseleave', function(){
        if(selected_category == $(this).attr('data-category')){
            $('.gallery-img[project-category!='+$(this).attr('data-category')+']').addClass('project-inactive');
        } else {
            $('.gallery-img[project-category!='+$(this).attr('data-category')+']').removeClass('project-inactive');
        }
        if(selected_category){
            $('.gallery-img[project-category!='+selected_category+']').addClass('project-inactive');
        }
    });

    $('.projects-filter').on('click', function(){
        $('.projects-filter').removeClass('filter-active');
        if(selected_category == $(this).attr('data-category')){
            selected_category = null;
        } else {
            selected_category = $(this).attr('data-category');
            $(this).toggleClass('filter-active');
        }
    });

    $('.sidemenu-item').on('click', function(){
        years['y'+$(this).attr('data-year')] = years['y'+$(this).attr('data-year')] == false ? true : false;
        console.log(years);
    });

    initPhotoSwipeFromDOM('.my-gallery');
</script>
{/block}