{block content}
<div class="project">
    <a n:href="Projects:project $prevProjectID" class="ajax"><div class="arrow-left hvr-wobble-horizontal"></div></a>
    <a n:href="Projects:project $nextProjectID" class="ajax"><div class="arrow-right hvr-wobble-horizontal"></div></a>
    <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h1>{$project['name']}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span><a n:href="Projects:default" class="ajax">projects</a> -> school projects</span>
                </div>
            </div>
            <div class="container-fluid margin-top">
                <div class="row">
                    <div class="col-md-12 center"><img src="{$basePath}/{$project['link']}" width="80%"></div>
                </div>
            </div>
        </div>
</div>
{/block content}