{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}MH Portfolio</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/photoswipe.css">
	<link rel="stylesheet" href="{$basePath}/css/default-skin/default-skin.css">
	<link rel="stylesheet" href="{$basePath}/css/animations.css">
	<link rel="stylesheet" href="{$basePath}/css/hover.css">
	<link rel="stylesheet" href="{$basePath}/css/component.css">
	<link rel="stylesheet" href="{$basePath}/css/main.css">
	<link rel="stylesheet" href="{$basePath}/css/layout.css">
	<link rel="stylesheet" href="{$basePath}/css/redactor.css">
	<link rel="stylesheet" href="{$basePath}/css/set1.css">

	<link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/images/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/images/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/images/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/images/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/images/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/images/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/images/favicon/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/images/favicon/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="{$basePath}/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{$basePath}/images/favicon/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="{$basePath}/images/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="{$basePath}/images/favicon/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="{$basePath}/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{$basePath}/images/favicon/manifest.json">
    <link rel="mask-icon" href="{$basePath}/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{$basePath}/images/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="{$basePath}/images/favicon/mstile-144x144.png">
    <meta name="msapplication-config" content="{$basePath}/images/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="initial-scale=1">
	{block head}{/block}
</head>

<body>
	{block scripts}
	<script src="{$basePath}/js/jquery.js"></script>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/history.ajax.js"></script>
	<script src="{$basePath}/js/redactor.js"></script>
	<script src="{$basePath}/js/gallery-positioning.js"></script>
	<script src='{$basePath}/js/photoswipe.js'></script>
    <script src='{$basePath}/js/photoswipe-ui-default.js'></script>
	<script src="{$basePath}/js/index.js"></script>
	{/block}
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
    <div class="hidden-navigation">
		<div class="logo"></div>
		<nav class="cl-effect-1">
			<div class="menu-item"><a n:href="Homepage:default" class="ajax menu-close">{if $lang == 'cs'}domů{else}home{/if}</a></div>
			<div class="menu-item"><a n:href="About:default" class="ajax menu-close">{if $lang == 'cs'}o mně{else}about me{/if}</a></div>
			<div class="menu-item"><a n:href="Projects:default" class="ajax menu-close">{if $lang == 'cs'}projekty{else}projects{/if}</a></div>
			<div class="menu-item"><a n:href="Contact:default" class="ajax menu-close">{if $lang == 'cs'}kontakt{else}contact{/if}</a></div>
		</nav>
		<div class="bottom">
			<a href="https://www.facebook.com/monika.hoffova?fref=ts"><div class="item menu-facebook hvr-bob"></div></a>
			<a href="https://www.instagram.com/monikahoffova"><div class="item menu-instagram hvr-bob"></div></a>
			<a href="mailto:monikahoffova@gmail.com"><div class="item menu-mail hvr-bob"></div></a>
		</div>
    </div>

	<div id="page">
		<div class="nav-icon-wrapper">
			<div id="nav-icon4">
			  <span></span>
			  <span></span>
			  <span></span>
			</div>
		</div>

		{snippet page_content}
			{include content}

			<div class="languages-switch">
				{if $lang == 'en'}
					<a n:href="this, lang=>cs"><span>CZE</span></a>
				{else}
					<a n:href="this, lang=>en"><span>ENG</span></a>
				{/if}
			</div>

			<div class="sidemenu-wrapper">
				<div class="sidemenu">
					{if $presenter->isLinkCurrent('Projects:default')}
						<span class="sidemenu-item" data-year="2015">2015</span>//
						<span class="sidemenu-item" data-year="2014">2014</span>//
						<span class="sidemenu-item" data-year="2013">2013</span>//
						<span class="sidemenu-item" data-year="2012">2012</span>
					{else}
						<a n:href="Projects:default" class="ajax"><span class="sidemenu-item" data-year="2015">2015</span></a>//
						<a n:href="Projects:default" class="ajax"><span class="sidemenu-item" data-year="2014">2014</span></a>//
						<a n:href="Projects:default" class="ajax"><span class="sidemenu-item" data-year="2013">2013</span></a>//
						<a n:href="Projects:default" class="ajax"><span class="sidemenu-item" data-year="2012">2012</span></a>
					{/if}
				</div>
			</div>
		{/snippet}

		<div class="clone"></div>
		<div class="gallery-clone">
			<img id="image-preview">
		</div>
    </div>
    <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

        <!-- Background of PhotoSwipe.
             It's a separate element as animating opacity is faster than rgba(). -->
        <div class="pswp__bg"></div>

        <!-- Slides wrapper with overflow:hidden. -->
        <div class="pswp__scroll-wrap">

            <!-- Container that holds slides.
                PhotoSwipe keeps only 3 of them in the DOM to save memory.
                Don't modify these 3 pswp__item elements, data is added later on. -->
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
            <div class="pswp__ui pswp__ui--hidden">

                <div class="pswp__top-bar">

                    <!--  Controls are self-explanatory. Order can be changed. -->

                    <div class="pswp__counter"></div>

                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                    <button class="pswp__button pswp__button--share" title="Share"></button>

                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                    <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                    <!-- element will get class pswp__preloader--active when preloader is running -->
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                          <div class="pswp__preloader__cut">
                            <div class="pswp__preloader__donut"></div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>

                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>

                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>

                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>

            </div>

        </div>

    </div>
</body>
</html>
