{block content}
<div class="homepage">
   <div class="logo-wrapper">
      <div class="logo"></div>
      <div class="text">ARCHITECTURE</div>
      <div class="text">PORTFOLIO</div>
</div>

    <div class="menu">
		<nav class="cl-effect-1">
			<div class="menu-item"><a n:href="About:default">{if $lang == 'cs'}o mně{else}about me{/if}</a></div>
			<div class="menu-item"><a n:href="Projects:default">{if $lang == 'cs'}projekty{else}projects{/if}</a></div>
			<div class="menu-item"><a n:href="Contact:default">{if $lang == 'cs'}kontakt{else}contact{/if}</a></div>
		</nav>
    </div>
</div>
{/block}