#header {
  width: 100%;
  margin: 40px auto;
  text-align: center;
  font-size: 70px;
  color: black;
}
.menu-wrapper {
  display: block;
  text-align: center;
  width: 100%;
}
.menu-wrapper .menu-item {
  padding: 5px 20px;
  display: inline-block;
}
.hr-under {
  margin: 20px 0;
  border-top: 1px solid rgba(109, 109, 109, 0.5);
}
.preview-article-text {
  text-align: justify;
}
.text-align-right {
  text-align: right;
  line-height: 50px;
}
.hashtags .hashtag {
  display: inline-block;
  padding: 0 10px;
  background-color: gold;
  font-size: 14px;
  text-transform: uppercase;
}
.controlls .controll {
  display: inline-block;
  padding: 0 10px;
  font-size: 14px;
  text-transform: uppercase;
}
.controlls .view {
  background-color: dodgerblue;
}
.controlls .edit {
  background-color: gold;
}
.controlls .delete {
  background-color: #E53D58;
}
.full-width {
  width: 100%;
}
.select2-drop {
  display: none !important;
}
.log-in {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -160px;
  margin-top: -100px;
  width: 320px;
}
