@import "variables.less";

.gallery-img {
  .gallery-img-hover {
    z-index: 100;
    top: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    .text-hover {
      position: relative;
      width: 90%;
      height: 100%;
      margin: 20px auto;
      text-align: center;
      color: white;
      font-size: 150%;
      .header {
        width: 100%;
        z-index: 101;
      }
      .hover-images {
        width: 100%;
        position: absolute;
        bottom: 30px;
        text-align: center;
        .image {
          display: inline-block;
          cursor: pointer;
          width: 50px;
          height: 50px;
          background-size: 100%;
          z-index: 100;
          &.edit-button {
            background-image: url(../../images/admin/edit.png);
          }
          &.x-button {
            background-image: url(../../images/admin/x-button.png);
          }
          &.success-button {
            background-image: url(../../images/admin/success.png);
          }
          &.trash-button {
            background-image: url(../../images/admin/trash.png);
          }
          &:hover {
            &.edit-button {
              background-image: url(../../images/admin/edit-hover.png);
            }
            &.x-button {
              background-image: url(../../images/admin/x-button-hover.png);
            }
            &.success-button {
              background-image: url(../../images/admin/success-hover.png);
            }
            &.trash-button {
              background-image: url(../../images/admin/trash-hover.png);
            }
          }
        }
      }
    }
  }
  &:hover {
    .gallery-img-hover {
      background-color: black;
      opacity: 0.7;
      -webkit-transition: all .5s ease-in-out;
      -moz-transition: all .5s ease-in-out;
      -o-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }
  }
}