.gallery-img .gallery-img-hover {
  z-index: 100;
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gallery-img .gallery-img-hover .text-hover {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 20px auto;
  text-align: center;
  color: white;
  font-size: 150%;
}
.gallery-img .gallery-img-hover .text-hover .header {
  width: 100%;
  z-index: 101;
}
.gallery-img .gallery-img-hover .text-hover .hover-images {
  width: 100%;
  position: absolute;
  bottom: 30px;
  text-align: center;
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image {
  display: inline-block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-size: 100%;
  z-index: 100;
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image.edit-button {
  background-image: url(../../images/admin/edit.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image.x-button {
  background-image: url(../../images/admin/x-button.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image.success-button {
  background-image: url(../../images/admin/success.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image.trash-button {
  background-image: url(../../images/admin/trash.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image:hover.edit-button {
  background-image: url(../../images/admin/edit-hover.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image:hover.x-button {
  background-image: url(../../images/admin/x-button-hover.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image:hover.success-button {
  background-image: url(../../images/admin/success-hover.png);
}
.gallery-img .gallery-img-hover .text-hover .hover-images .image:hover.trash-button {
  background-image: url(../../images/admin/trash-hover.png);
}
.gallery-img:hover .gallery-img-hover {
  background-color: black;
  opacity: 0.7;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
