html,
body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "Helvetica Neue";
  letter-spacing: 1.5px;
  font-weight: 100;
  line-height: 1.6;
  color: #333;
  background: white;
}
h1,
h2,
h3 {
  font-weight: 100;
  color: black;
}
a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: black;
  text-decoration: line-through;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: white url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}
div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em;
  margin: 1em 0;
}
a[href^="#error:"] {
  background: red;
  color: white;
}
form th,
form td {
  vertical-align: top;
  font-weight: normal;
}
form th {
  text-align: right;
}
form label {
  font-weight: 100;
}

.draggable {
  z-index: 50;
}

.ui-draggable-dragging {
  z-index: 100;
}
