// VARIABLES
@menu-background: #1f2223;
@background: #fff;
@font: #969696;

@blue: #295C9E;
@light-blue: #6A92C5;
@dark-blue: #09346B;

@orange: #F1A72E;
@light-orange: #FFCE7F;
@dark-orange: #A26400;

@red: #AE001A;
@dark-red: #650010;
@light-red: #E53D58;

@bg1: '../images/backgrounds/bg1.jpg';
@bg2: '../images/backgrounds/bg2.jpg';
@bg3: '../images/backgrounds/bg3.jpg';
@bg4: '../images/backgrounds/bg4.jpg';

@facebook-logo: url("../images/icons/facebook.png");
@facebook-logo-hover: url("../images/icons/facebook-hover.png");

@border: 1px solid rgba(109, 109, 109, 0.5);
// VARIABLES - END

// FONTS

// FONTS - END