{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|striptags} | {/ifset}MH Portfolio Admin</title>

	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/main.css">
	<link rel="stylesheet" href="{$basePath}/css/layout.css">
	<link rel="stylesheet" href="{$basePath}/css/redactor.css">
	<link rel="stylesheet" href="{$basePath}/css/select2.min.css">
	<link rel="stylesheet" href="{$basePath}/css/jquery.tagsinput.min.css">
	<link rel="stylesheet" href="{$basePath}/css/admin/main.css">
	<link rel="stylesheet" href="{$basePath}/css/admin/layout.css">
	<link rel="stylesheet" href="{$basePath}/css/admin/dropzone.css">
	<link rel="stylesheet" href="{$basePath}/css/admin/main.backend.css">

	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	<meta name="viewport" content="width=device-width">
	{block head}{/block}
</head>

<body>
	<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>
	<div class="container-fluid">
		<div class="hr-under"></div>
	</div>
    <div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="menu-wrapper">
					<div class="menu-item"><a n:href="Admin:posts">ACTIVE</a></div>
					<div class="menu-item"><a n:href="Admin:archived-posts">ARCHIVED</a></div>
					<div class="menu-item"><a n:href="Admin:create">ADD</a></div>
					<div class="menu-item"><a n:href="Admin:about">ABOUT ME</a></div>
					<div class="menu-item"><a n:href="Admin:config">CONFIG</a></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="hr-under"></div>
	</div>
	<div class="container-fluid">
    	<div class="row">
			<div id="content">
				{include content}
			</div>
 		</div>
	</div>

	{block scripts}
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//nette.github.io/resources/js/netteForms.min.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/main.backend.js"></script>
	<script src="{$basePath}/js/bootstrap.min.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
	<script src="{$basePath}/js/history.ajax.js"></script>
	<script src="{$basePath}/js/redactor.js"></script>
	<script src="{$basePath}/js/select2.full.min.js"></script>
	<script src="{$basePath}/js/jquery.tagsinput.min.js"></script>
	<script src="{$basePath}/js/gallery-positioning.js"></script>
	<script src="{$basePath}/js/dropzone.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="{$basePath}/js/bootbox.min.js"></script>
	{/block}
	{ifset #lattescripts}
	    {include lattescripts}
	{/ifset}
</body>
</html>