{layout '@admin_layout.latte'}

{block content}
    {form aboutForm}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>About me</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {label text /}{input text}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {input send}
                </div>
            </div>
        </div>
    {/form}
{/block}

{block lattescripts}
<script type="text/javascript">
$('.redactor').redactor({
    imageUpload: {link imageUpload!},
    imageGetJson: {link imagesJson!},
    fileUpload: {link fileUpload!}
});
</script>
{/block}