{layout '@admin_layout.latte'}

{block content}
<div class="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Archived projects</h2>
            </div>
        </div>
    </div>
    {if $inactiveProjects != null}
    <div class="container-fluid">
        <div id="gallery">
            {foreach $inactiveProjects as $project}
                 <div class="gallery-img"
                     project-category="{$project['category']}"
                     project-year="{$project['year']}"
                     data-size="{$project['size']}"
                     src="{$basePath}/{$project['images'][0]['link']}.jpg"
                     >
                     <div class="border-img"></div>
                     <img
                         class="project-active"
                         width="100%"
                         height="100%"
                         itemprop="thumbnail"
                         alt={$project['name']}
                         title={$project['name']}
                         src="{$basePath}/{$project['images'][0]['link']}_thumb.jpg"
                      >
                      <div class="gallery-img-hover">
                        <div class="text-hover">
                            <div class="header">{$project['name']}</div>
                            <div class="hover-images" project-id="{$project['id']}">
                                <div class="image edit-button"></div>
                                <div class="image success-button"></div>
                                <div class="image trash-button"></div>
                            </div>
                        </div>
                      </div>
                  </div>
            {/foreach}
        </div>
    </div>
    {else}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Inactive projects not found.</h3>
            </div>
        </div>
    </div>
    {/if}
</div>
{/block}
{block lattescripts}
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click', '.trash-button', function(){
            bootbox.confirm('Are you sure to permament detele this?', function(result){

            })
        });

        $(document).on('click', '.success-button', function(){
            var project_id = $(this).parent().attr('project-id');
            bootbox.confirm('Are you sure to make active this?', function(result){
                if(result){
                    $.ajax({
                        type: 'POST',
                        url: {link unarchiveProject!},
                        data: { id: project_id},
                        error: function(){
                            bootbox.alert('Project unarchive failed.');
                        }
                    });
                }
            })
        });
    });
</script>
{/block}