{layout '@admin_layout.latte'}

{block content}
    {form projectForm}
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {label name /}{input name}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {label category /}{input category}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {label description /}{input description}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {label description_en /}{input description_en}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {label year /}{input year}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    {input send}
                </div>
            </div>
        </div>
    {/form}
{/block}

{block lattescripts}
<script type="text/javascript">
$('.redactor').redactor({
    imageUpload: {link imageUpload!},
    imageGetJson: {link imagesJson!},
    fileUpload: {link fileUpload!}
});
</script>
{/block}