{layout '@admin_layout.latte'}

{block content}
<div class="projects">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Active projects</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="gallery">
            {foreach $projects as $project}
                 <div class="gallery-img draggable droppable"
                     project-category="{$project['category']}"
                     project-year="{$project['year']}"
                     data-size="{$project['size']}"
                     order="{$project['order']}"
                     project-id="{$project['id']}"
                     src="{$basePath}/{$project['images'][0]['link']}.jpg"
                     >
                     <div class="border-img"></div>
                     <img
                         class="project-active"
                         width="100%"
                         height="100%"
                         itemprop="thumbnail"
                         alt={$project['name']}
                         title={$project['name']}
                         src="{$basePath}/{$project['images'][0]['link']}_thumb.jpg"
                      >
                      <div class="gallery-img-hover">
                        <div class="text-hover">
                            <div class="header">{$project['name']}</div>
                            <div class="hover-images" project-id="{$project['id']}">
                                <a n:href="Admin:edit id=>$project['id']"><div class="image edit-button"></div></a>
                                <div class="image x-button"></div>
                                <div class="image trash-button"></div>
                            </div>
                        </div>
                      </div>
                  </div>
            {/foreach}
        </div>
    </div>
</div>
{/block}

{block lattescripts}
<script type="text/javascript">
    $(document).ready(function(){
        $(document).on('click', '.trash-button', function(){
            bootbox.confirm('Are you sure to permament detele this?', function(result){

            })
        });

        $(document).on('click', '.x-button', function(){
            var project_id = $(this).parent().attr('project-id');
            bootbox.confirm('Are you sure to make inactive this?', function(result){
                if(result){
                    $.ajax({
                        type: 'POST',
                        url: {link archiveProject!},
                        data: { id: project_id},
                        error: function(){
                            bootbox.alert('afas');
                        }
                    });
                }
            })
        });

        $('.draggable').draggable({
            revert: 'invalid',
            helper: "original",
            snapMode: 'inner',
            snap: true,
            snapTolerance: 50,
            distance: 8,
            revertDuration: 200,
        });

        $(".droppable").droppable({
            drop: function(event, ui) {
                draggableObject = $(ui.draggable[0]);
                draggableOrder = draggableObject.attr("order");
                droppableOrder = $(this).attr("order");

                draggableOrderProjectId = draggableObject.attr("project-id");
                droppableOrderProjectId = $(this).attr("project-id");

                console.log(draggableOrder);
                console.log(droppableOrder);

                console.log(draggableOrderProjectId);
                console.log(droppableOrderProjectId);

                $(this).attr("order", draggableOrder);
                draggableObject.attr("order", droppableOrder);

                $.ajax({
                    type: 'POST',
                    url: {link switchProjects!},
                    data: { dragId: draggableOrderProjectId, dropId: droppableOrderProjectId, dragOrder: draggableOrder, dropOrder: droppableOrder},
                    error: function(){
                       bootbox.alert('Project sort failed');
                    }
                });

                calculatePositions();
            }
        });
    });
</script>
{/block}