<div id="sidebar-nav-wrapper">
    <a n:href="default">
        <div class="logo-wrapper">
            <div id="logo">
                <div id="wheel"></div>
                <div id="logo-text"></div>
            </div>
        </div>
    </a>
    <ul class="sidebar-nav">
        <li>
            <a n:href="about"><span>o nás<span></a>
            <a n:href="assortment"><span>sortiment<span></a>
            <a n:href="service"><span>služby<span></a>
            <a n:href="terms"><span>obchodní podmínky<span></a>
            <a n:href="contact"><span>kontakt<span></a>
        </li>
    </ul>
    <a href="https://www.facebook.com/pages/Nářad%C3%AD-Lukovský/187083521321718?fref=ts" target="_blank">
        <div id="sidebar-fb-logo"></div>
    </a>
</div>


<!--
<div class="sidebar">
<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Brand</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
</div>

-->