{block content}
<div class="contact">
    <div class="content">
        <div class="text top">{if $lang == 'cs'}kontakt{else}contact{/if}</div>
        <nav class="cl-effect-1">
            <div class="menu-item"><a href="mailto:monikahoffova@gmail.com">monikahoffova@gmail.com</a></div>
            <div class="menu-item"><a href="https://www.facebook.com/monika.hoffova?fref=ts">facebook</a></div>
            <div class="menu-item"><a href="https://www.instagram.com/monikahoffova">instagram</a></div>
        </nav>
    </div>
</div>
{/block}