{block content}
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md12">
                <h1>{if $lang == 'cs'}o mně{else}about me{/if}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 hidden-xs hidden-sm">
                <div class="row margin-height">
                    {$about_array['bio']|noescape}
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 hidden-xs hidden-sm">
                <div class="foto-circle"></div>
            </div>


            <div class="col-md-6 hidden-md hidden-lg">
                <div class="foto-circle"></div>
            </div>
            <div class="col-md-5 hidden-md hidden-lg">
                <div class="row">
                    {$about_array['bio']|noescape}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row margin-bottom">
            <div class="col-md-5 col-sm-12">
                <div class="row">
                    {$about_array['education']|noescape}
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    {$about_array['competition']|noescape}
                </div>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-md-5">
                <div class="row">
                    <h2>{if $lang == 'cs'}jazyky{else}languages{/if}</h2>
                    <hr>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="languages">
                                <div class="text"><b>{if $lang == 'cs'}čeština{else}czech{/if}</b><br>{if $lang == 'cs'}rodilý mluvčí{else}native speaker{/if}</div>
                                <img src="{$basePath}/images/czech-circle.png" width="80%">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="languages">
                                <div class="text"><b>{if $lang == 'cs'}angličtina{else}english{/if}</b><br>{if $lang == 'cs'}úroveň B1{else}B1{/if}</div>
                                <img src="{$basePath}/images/eng-circle.png" width="80%">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {$about_array['other_skills']|noescape}
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <div class="row">
                    {$about_array['design_skills']|noescape}
                </div>
            </div>
        </div>
        <div class="row margin-bottom">
            <div class="col-md-12">
                <div class="row">
                    {$about_array['hobby']|noescape}
                </div>
            </div>
        </div>
    </div>
</div>
{/block}