@import "variables.less";

.sidemenu-wrapper {
  position: fixed;
  width: 17em;
  bottom: 22em;
  right: 0;
  z-index: 110;
  padding: 0 1em;
  background-color: #000000;
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Safari */
  transform: rotate(270deg);
  transform-origin: right bottom;

  .sidemenu {
    position: relative;
    color: #ffffff;

    a {
      color: white;
    }
    .sidemenu-item {
      cursor: pointer;
    }
  }
}

.page-ajax-animation{
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.text-right {
  text-align: right;
  p {
    text-align: right !important;
  }
}

.margin-height {
  margin-top: 20%;
}

.languages-switch{
  position: absolute;
  z-index: 10000;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 30px;
  text-align: right;
  span{
    color: black;
    &:hover{
      color: red;
    }
  }
}

.nav-icon-wrapper {
  position: absolute;
  top: 1em;
  left: 1em;
}

.hidden-navigation {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #000000;

  .logo {
    margin: 4em auto;
    width: 8em;
    height: 8em;
    background-image: url(../images/logo.png);
    background-position: center;
    background-size: cover;
  }

  .menu-item {
    width: 100%;
    text-align: center;

    a {
      font-size: @h3-size;
      color: #ffffff;
      text-transform: none;
    }
  }

  .bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1em;
    height: 2em;
    text-align: center;

    .item {
      height: 1.5em;
      width: 1.5em;
      margin: 0 1em;
      display: inline-block;
      background-size: 100%;
      background-position: center;
      &:hover {
        background-position: bottom left;
        transition: background-image 1s ease;
      }
    }
    .menu-facebook {
      background-image: url(../images/fb1.png);
    }

    .menu-instagram {
      background-image: url(../images/insta1.png);
    }

    .menu-mail {
      background-image: url(../images/mail1.png);
    }
  }
}

#page {
  position: relative;
  margin-left: 0;
  background-color: #ffffff;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transition: margin-left 300ms linear;
  -moz-transition: margin-left 300ms linear;
  -o-transition: margin-left 300ms linear;
  transition: margin-left 300ms linear;
}

.open-menu {
  margin-left: 300px !important;
}

#snippet--page_content {
  height: 100vh;
}

.menu-close {
  text-decoration: none !important;
}

.clone {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(130, 130, 130, 0.40);
  display: none;
}

#image-preview {
  position: absolute;
}

.gallery-clone {
  z-index: 1500;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.71);
  display: none;
}

.homepage {
  width: 100%;
  height: 100%;
  background-image: url(../images/homepage_img.jpg);
  background-size: cover;
  background-position: center;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  .menu {
    position: absolute;
    bottom: 3em;
    width: 100%;
    height: 3em;
    text-align: center;

    .menu-item {
      display: inline-block;
      color: #ffffff;
      font-size: 1.3em;
      padding: 0.7em 0.7em 0 0.7em;

      &:hover {

      }

      a {
        color: #ffffff;
        text-transform: none;
      }
    }

    @media all and (max-width: 700px) {
      .menu-item{
        font-size: 1em;
        padding: 0.5em 0.5em 0 0.5em;
      }
    }

    @media all and (max-width: 575px) {
      .menu-item{
        font-size: 0.8em;
        padding: 3em 0 0 0;

        a{
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  .logo-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16em;
    height: 16em;
    margin: -13em 0 0 -8em;

    .logo {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url(../images/logo.png);
      background-size: cover;
      background-position: center;
    }

    .text {
      color: #ffffff;
      font-size: 1.7em;
      line-height: 1.2em;
      width: 100%;
      text-align: center;
    }

  }
  @media all and (max-width: 700px) {
    .logo-wrapper{
      font-size: 0.9em;
    }
  }
  @media all and (max-width: 575px) {
    .logo-wrapper{
      font-size: 0.7em;
    }
  }
}

.about {
  width: 100%;
  padding: 30px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  .foto-circle {
    margin: 40px auto;
    width: 40%;
    padding: 20%;
    border-radius: 50%;
    background-image: url(../images/about.jpg);
    background-size: 101%;
    background-position: center;
    -webkit-transition:  400ms ease-out 300ms;
    -moz-transition:  400ms ease-out 300ms;
    -o-transition:  400ms ease-out 300ms;
    transition:  400ms ease-out 300ms;
    &:hover {
      background-size: 110%;
      -webkit-transition:  200ms ease-out;
      -moz-transition:  200ms ease-out;
      -o-transition:  200ms ease-out;
      transition:  200ms ease-out;
    }
  }

  .about-image {
    text-align: center;
    img{
      margin-top: 5%;
    }
  }

  .big-lineheight{
    line-height: 1.75em;
  }

  .big-font{
    line-height: 1.75em;
    p {
      font-size: 1.2em;
    }
  }

  .content{
    p{
      text-align: justify;
    }
  }

  hr{
    background: url(../images/border-image.png) repeat-x top left;
    height: 2px;
    border: 0;
    margin: 10px 0;
  }

  .dot {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0 3px;
    background-color: #9d9d9d;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-empty {
    position: relative;
    width: 1em;
    height: 1em;
    margin: 0 3px;
    border: 2px solid #9d9d9d;
    border-radius: 50%;
    display: inline-block;
  }

  .languages{
    position: relative;
    text-align: center;
    img{
    }
    .text{
      position: absolute;
      width: 100%;
      padding-top: 33%;
      text-align: center;
    }
  }

  table{
    width: 100%;
    tr{
      td{
        padding: 3px 0;
      }
      td:first-child{
        padding-right: 3em;
      }
      td:nth-child(2){
        text-align: right;
      }
    }
  }

  .hobby-wrapper{
    text-align: center;
    .hobby-item{
      padding: 20px;
      display: inline-block;
      p{
        margin-top: 4px;
        text-align: center;
      }
    }
  }
}

.projects {
  width: 100%;
  padding: 30px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  .control-cards {
    span {
      cursor: pointer;
    }
  }

  .projects-filter {
    padding: 0 10px 0 10px;
    cursor: pointer;
    &:hover {
      color: red;
      cursor: pointer;
    }
  }

  .filter-active {
    color: red;
  }

  #gallery{
    margin-top: 20px;
    width: 100%;
    position: relative;

    .project-wrapper{
      //position: relative;
    }

    .gallery-img {
      opacity: 1;
      margin: 0;
      padding: 0;
      position: absolute;
      overflow: hidden;
      -webkit-transition: opacity 300ms linear;
      -moz-transition: opacity 300ms linear;
      -o-transition: opacity 300ms linear;
      transition: opacity 300ms linear;

      .border-img{
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        outline: 5px solid white;
        outline-offset: -5px;
      }
      
      .text{
        position: absolute;
        width: 100%;
        top: 45%;
        text-align: center;
        visibility: hidden;
      }

      &:hover{
        .text {
          visibility: visible;
        }
      }
    }

    .project-type{
      position: absolute;
      color: white;
      font-size: 1.5em;
      right: 10px;
      top: 10px;
    }

    .project-inactive{
      opacity: 0.3;
      -webkit-transition: opacity 300ms linear;
      -moz-transition: opacity 300ms linear;
      -o-transition: opacity 300ms linear;
      transition: opacity 300ms linear;
    }
  }

  .cards-wrapper {
    text-align: center;
    width: 100%;


    .col-sm-6, .col-sm-3, .col-sm-4 {
      position: relative;
      margin: 0;
      padding: 5px;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      transition: all 300ms linear;

      .card-wrapper {
        position: relative;
        width: 100%;
        padding: 50%;
        border: 1px solid #9b9b9b;

        .card {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;

          table {
            width: 100%;
            height: 100%;
            text-align: center;
            font-size: @h2-size;
          }
        }
      }
    }
  }
}

.project {
  width: 100%;
  padding: 30px;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  .margin-top{
    margin-top: 50px;
  }

  .center {
    text-align: center;
  }

  a {
    color: black;
    &:hover {
      color:red;
    }
  }

  .arrow-left {
    position: fixed;
    margin: auto;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 60px;
    background-image: url(../images/projects/left.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .arrow-right {
    position: fixed;
    margin: auto;
    right: 10px;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 60px;
    background-image: url(../images/projects/right.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.contact {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 20em;
    margin: -10em 0 0 -15em;

    .text {
      color: #000000;
      font-size: 1.2em;
      width: 100%;
      text-align: center;
    }

    .top {
      font-size: @h1-size;
      margin-bottom: 1em;
    }

    .menu-item {
      width: 100%;
      text-align: center;

      a {
        font-size: 1.2em;
        color: #000000;
        text-transform: none;
        margin: 5px 25px;
      }
    }
  }
}


//.gallery-img:hover .caption{
//  opacity: 1;
//}
//.gallery-img:hover img{
//  opacity: 1;
//  transform: scale(1.15,1.15);
//  -webkit-transform:scale(1.15,1.15);
//  -moz-transform:scale(1.15,1.15);
//  -ms-transform:scale(1.15,1.15);
//  -o-transform:scale(1.15,1.15);
//}
//.gallery-img img{
//  margin: 0px;
//  padding: 0px;
//  float: left;
//  z-index: 4;
//}
//.gallery-img .caption{
//  cursor: pointer;
//  position: absolute;
//  opacity: 0;
//  -webkit-transition:all 0.45s ease-in-out;
//  -moz-transition:all 0.45s ease-in-out;
//  -o-transition:all 0.45s ease-in-out;
//  -ms-transition:all 0.45s ease-in-out;
//  transition:all 0.45s ease-in-out;
//}
//.gallery-img img{
//  -webkit-transition:all 0.25s ease-in-out;
//  -moz-transition:all 0.25s ease-in-out;
//  -o-transition:all 0.25s ease-in-out;
//  -ms-transition:all 0.25s ease-in-out;
//  transition:all 0.25s ease-in-out;
//}
//.gallery-img .blur{
//  background-color: rgba(0,0,0,0.65);
//  height: 100%;
//  width: 100%;
//  z-index: 5;
//  position: absolute;
//}
//.gallery-img .caption-text h1{
//  text-transform: uppercase;
//  font-size: 24px;
//}
//.gallery-img .caption-text{
//  z-index: 10;
//  color: #fff;
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  text-align: center;
//  top:100px;
//  h1{
//    color: white;
//  }
//}