@font-face {
  font-family: 'ISOCP';
  src: url(../fonts/ISOCP.ttf);
}
@font-face {
  font-family: 'ISOCPEUR';
  src: url(../fonts/ISOCPEUR.ttf);
}
.sidemenu-wrapper {
  position: fixed;
  width: 17em;
  bottom: 22em;
  right: 0;
  z-index: 110;
  padding: 0 1em;
  background-color: #000000;
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -webkit-transform: rotate(270deg);
  /* Safari */
  transform: rotate(270deg);
  transform-origin: right bottom;
}
.sidemenu-wrapper .sidemenu {
  position: relative;
  color: #ffffff;
}
.sidemenu-wrapper .sidemenu a {
  color: white;
}
.sidemenu-wrapper .sidemenu .sidemenu-item {
  cursor: pointer;
}
.page-ajax-animation {
  transition: all 0.2s ease-in-out;
  transform: scale(1.2);
}
.text-right {
  text-align: right;
}
.text-right p {
  text-align: right !important;
}
.margin-height {
  margin-top: 20%;
}
.languages-switch {
  position: absolute;
  z-index: 10000;
  right: 10px;
  top: 10px;
  width: 70px;
  height: 30px;
  text-align: right;
}
.languages-switch span {
  color: black;
}
.languages-switch span:hover {
  color: red;
}
.nav-icon-wrapper {
  position: absolute;
  top: 1em;
  left: 1em;
}
.hidden-navigation {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  background-color: #000000;
}
.hidden-navigation .logo {
  margin: 4em auto;
  width: 8em;
  height: 8em;
  background-image: url(../images/logo.png);
  background-position: center;
  background-size: cover;
}
.hidden-navigation .menu-item {
  width: 100%;
  text-align: center;
}
.hidden-navigation .menu-item a {
  font-size: 1.2em;
  color: #ffffff;
  text-transform: none;
}
.hidden-navigation .bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1em;
  height: 2em;
  text-align: center;
}
.hidden-navigation .bottom .item {
  height: 1.5em;
  width: 1.5em;
  margin: 0 1em;
  display: inline-block;
  background-size: 100%;
  background-position: center;
}
.hidden-navigation .bottom .item:hover {
  background-position: bottom left;
  transition: background-image 1s ease;
}
.hidden-navigation .bottom .menu-facebook {
  background-image: url(../images/fb1.png);
}
.hidden-navigation .bottom .menu-instagram {
  background-image: url(../images/insta1.png);
}
.hidden-navigation .bottom .menu-mail {
  background-image: url(../images/mail1.png);
}
#page {
  position: relative;
  margin-left: 0;
  background-color: #ffffff;
  min-height: 100%;
  width: 100%;
  z-index: 1;
  -webkit-transition: margin-left 300ms linear;
  -moz-transition: margin-left 300ms linear;
  -o-transition: margin-left 300ms linear;
  transition: margin-left 300ms linear;
}
.open-menu {
  margin-left: 300px !important;
}
#snippet--page_content {
  height: 100vh;
}
.menu-close {
  text-decoration: none !important;
}
.clone {
  z-index: 99;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(130, 130, 130, 0.4);
  display: none;
}
#image-preview {
  position: absolute;
}
.gallery-clone {
  z-index: 1500;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.71);
  display: none;
}
.homepage {
  width: 100%;
  height: 100%;
  background-image: url(../images/homepage_img.jpg);
  background-size: cover;
  background-position: center;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.homepage .menu {
  position: absolute;
  bottom: 3em;
  width: 100%;
  height: 3em;
  text-align: center;
}
.homepage .menu .menu-item {
  display: inline-block;
  color: #ffffff;
  font-size: 1.3em;
  padding: 0.7em 0.7em 0 0.7em;
}
.homepage .menu .menu-item a {
  color: #ffffff;
  text-transform: none;
}
@media all and (max-width: 700px) {
  .homepage .menu .menu-item {
    font-size: 1em;
    padding: 0.5em 0.5em 0 0.5em;
  }
}
@media all and (max-width: 575px) {
  .homepage .menu .menu-item {
    font-size: 0.8em;
    padding: 3em 0 0 0;
  }
  .homepage .menu .menu-item a {
    padding: 0;
    margin: 0;
  }
}
.homepage .logo-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16em;
  height: 16em;
  margin: -13em 0 0 -8em;
}
.homepage .logo-wrapper .logo {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(../images/logo.png);
  background-size: cover;
  background-position: center;
}
.homepage .logo-wrapper .text {
  color: #ffffff;
  font-size: 1.7em;
  line-height: 1.2em;
  width: 100%;
  text-align: center;
}
@media all and (max-width: 700px) {
  .homepage .logo-wrapper {
    font-size: 0.9em;
  }
}
@media all and (max-width: 575px) {
  .homepage .logo-wrapper {
    font-size: 0.7em;
  }
}
.about {
  width: 100%;
  padding: 30px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.about .foto-circle {
  margin: 40px auto;
  width: 40%;
  padding: 20%;
  border-radius: 50%;
  background-image: url(../images/about.jpg);
  background-size: 101%;
  background-position: center;
  -webkit-transition: 400ms ease-out 300ms;
  -moz-transition: 400ms ease-out 300ms;
  -o-transition: 400ms ease-out 300ms;
  transition: 400ms ease-out 300ms;
}
.about .foto-circle:hover {
  background-size: 110%;
  -webkit-transition: 200ms ease-out;
  -moz-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  transition: 200ms ease-out;
}
.about .about-image {
  text-align: center;
}
.about .about-image img {
  margin-top: 5%;
}
.about .big-lineheight {
  line-height: 1.75em;
}
.about .big-font {
  line-height: 1.75em;
}
.about .big-font p {
  font-size: 1.2em;
}
.about .content p {
  text-align: justify;
}
.about hr {
  background: url(../images/border-image.png) repeat-x top left;
  height: 2px;
  border: 0;
  margin: 10px 0;
}
.about .dot {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0 3px;
  background-color: #9d9d9d;
  border-radius: 50%;
  display: inline-block;
}
.about .dot-empty {
  position: relative;
  width: 1em;
  height: 1em;
  margin: 0 3px;
  border: 2px solid #9d9d9d;
  border-radius: 50%;
  display: inline-block;
}
.about .languages {
  position: relative;
  text-align: center;
}
.about .languages .text {
  position: absolute;
  width: 100%;
  padding-top: 33%;
  text-align: center;
}
.about table {
  width: 100%;
}
.about table tr td {
  padding: 3px 0;
}
.about table tr td:first-child {
  padding-right: 3em;
}
.about table tr td:nth-child(2) {
  text-align: right;
}
.about .hobby-wrapper {
  text-align: center;
}
.about .hobby-wrapper .hobby-item {
  padding: 20px;
  display: inline-block;
}
.about .hobby-wrapper .hobby-item p {
  margin-top: 4px;
  text-align: center;
}
.projects {
  width: 100%;
  padding: 30px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.projects .control-cards span {
  cursor: pointer;
}
.projects .projects-filter {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
.projects .projects-filter:hover {
  color: red;
  cursor: pointer;
}
.projects .filter-active {
  color: red;
}
.projects #gallery {
  margin-top: 20px;
  width: 100%;
  position: relative;
}
.projects #gallery .gallery-img {
  opacity: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.projects #gallery .gallery-img .border-img {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  outline: 5px solid white;
  outline-offset: -5px;
}
.projects #gallery .gallery-img .text {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
  visibility: hidden;
}
.projects #gallery .gallery-img:hover .text {
  visibility: visible;
}
.projects #gallery .project-type {
  position: absolute;
  color: white;
  font-size: 1.5em;
  right: 10px;
  top: 10px;
}
.projects #gallery .project-inactive {
  opacity: 0.3;
  -webkit-transition: opacity 300ms linear;
  -moz-transition: opacity 300ms linear;
  -o-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}
.projects .cards-wrapper {
  text-align: center;
  width: 100%;
}
.projects .cards-wrapper .col-sm-6,
.projects .cards-wrapper .col-sm-3,
.projects .cards-wrapper .col-sm-4 {
  position: relative;
  margin: 0;
  padding: 5px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}
.projects .cards-wrapper .col-sm-6 .card-wrapper,
.projects .cards-wrapper .col-sm-3 .card-wrapper,
.projects .cards-wrapper .col-sm-4 .card-wrapper {
  position: relative;
  width: 100%;
  padding: 50%;
  border: 1px solid #9b9b9b;
}
.projects .cards-wrapper .col-sm-6 .card-wrapper .card,
.projects .cards-wrapper .col-sm-3 .card-wrapper .card,
.projects .cards-wrapper .col-sm-4 .card-wrapper .card {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.projects .cards-wrapper .col-sm-6 .card-wrapper .card table,
.projects .cards-wrapper .col-sm-3 .card-wrapper .card table,
.projects .cards-wrapper .col-sm-4 .card-wrapper .card table {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.6em;
}
.project {
  width: 100%;
  padding: 30px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.project .margin-top {
  margin-top: 50px;
}
.project .center {
  text-align: center;
}
.project a {
  color: black;
}
.project a:hover {
  color: red;
}
.project .arrow-left {
  position: fixed;
  margin: auto;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 60px;
  background-image: url(../images/projects/left.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.project .arrow-right {
  position: fixed;
  margin: auto;
  right: 10px;
  top: 0;
  bottom: 0;
  width: 30px;
  height: 60px;
  background-image: url(../images/projects/right.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.contact {
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
.contact .content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30em;
  height: 20em;
  margin: -10em 0 0 -15em;
}
.contact .content .text {
  color: #000000;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}
.contact .content .top {
  font-size: 2em;
  margin-bottom: 1em;
}
.contact .content .menu-item {
  width: 100%;
  text-align: center;
}
.contact .content .menu-item a {
  font-size: 1.2em;
  color: #000000;
  text-transform: none;
  margin: 5px 25px;
}
