@import "variables.less";

html,body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-family: "ISOCPEUR";
  color: #333;
  background: white;
}

.strong-font {
  font-family: "ISOCPEUR";
}

@media all and (max-width: 991px) {
  html, body {
    font-size: 16px;
  }
}

@media all and (min-width: 992px) {
  html, body {
    font-size: 12px;
  }
}

@media all and (min-width: 1400px) {
  html, body {
    font-size: 12px;
  }
}

@media all and (min-width: 1600px) {
  html, body {
    font-size: 14px;
  }
}

a:hover {
  text-decoration: none;
}

h1,h2,h3 {
  font-weight: 100;
  color: black;
}

h1 {
  font-size: @h1-size;
}

h2 {
  font-size: @h2-size;
}

h3 {
  font-size: @h3-size;
}


#ajax-spinner {
  margin: 15px 0 0 15px;
  padding: 13px;
  background: white url('../images/spinner.gif') no-repeat 50% 50%;
  font-size: 0;
  z-index: 123456;
  display: none;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.display-none {
  display: none;
}

figcaption {
  display: none;
}

div.flash {
  color: black;
  background: #FFF9D7;
  border: 1px solid #E2C822;
  padding: 1em;
  margin: 1em 0;
}

a[href^="#error:"] {
  background: red;
  color: white;
}

form th, form td {
  vertical-align: top;
  font-weight: normal;
}

form th {
  text-align: right;
}

form label {
  font-weight: 100;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}