// VARIABLES
@menu-background: #1f2223;
@background: #fff;
@font: #969696;

@blue: #295C9E;
@light-blue: #6A92C5;
@dark-blue: #09346B;

@orange: #F1A72E;
@light-orange: #FFCE7F;
@dark-orange: #A26400;

@red: #AE001A;
@dark-red: #650010;
@light-red: #E53D58;

@bg1: '../images/backgrounds/bg1.jpg';
@bg2: '../images/backgrounds/bg2.jpg';
@bg3: '../images/backgrounds/bg3.jpg';
@bg4: '../images/backgrounds/bg4.jpg';

@font-face {
  font-family: 'ISOCP';
  src: url(../fonts/ISOCP.ttf);
}

@font-face {
  font-family: 'ISOCPEUR';
  src: url(../fonts/ISOCPEUR.ttf);
}

@border: 1px solid rgba(109, 109, 109, 0.5);
// VARIABLES - END

// FONTS
@h1-size: 2em;
@h2-size: 1.6em;
@h3-size: 1.2em;
// FONTS - END